<style>
    .form {
      margin: 120px 0;
    }
  </style>
  
  <div class="container">
    <div class="border p-4 w-50 mx-auto form">
      <div class="header">
        <h1 class="text-center">Forgot Login</h1>
      </div>
      <form [formGroup]='forgotForm'>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" placeholder="Enter your Email address" formControlName="user_email" name="username" required>
        </div>
        <!-- <div class="form-group">
          <label for="pwd">New OTP:</label>
          <input type="text" class="form-control" placeholder="Enter your OTP" name="password" required>
        </div> -->
        <button type="submit" class="btn btn-info w-100 mb-3" (click)="forgotUser(forgotForm.value)">submit</button>
      </form>
    </div>    
  </div>
  <router-outlet></router-outlet>