<div class="signup-form">
  <form [formGroup]='userForm' method="post">
    <h2>Sign Up</h2>
    <hr>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="user_login" formControlName="user_login">
    </div>
    <div class="form-group">
      <label>EmailAddress</label>
      <input type="email" class="form-control" name="user_email" formControlName="user_email">
    </div>
    <div class="form-group">
      <label>NiceName</label>
      <input type="text" class="form-control" name="user_nicename" formControlName="user_nicename">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="user_pass" formControlName="user_pass">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg" (click) = "signupuser(userForm.value)">Sign Up</button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>