<style>
    .row {
        margin: 0;
        padding: 0;
    }
    .home {
        color: maroon;
    }
    .font {
        margin-top: 40px;
        text-align: center;
    }

    .btn {
        margin-top: 45px;
        margin-left: 250px;
    }

    .image {
        margin-left: 180px;
    }

    .room {
        margin-top: 80px;
        color: fuchsia;
    }

    .room_type h1 {
        margin-top: 100px;
        color: lawngreen;
    }

    .btnn {
        margin-left: 70px;
    }

    .luxury {
        margin-left: 180px;
    }

    .superior {
        margin-left: 180px;
    }
</style>
<div class="m-0 p-0">
    <div class="home">
        <h1 class="text-center mt-5">Hotel</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 m-0 p-0">
            <div class="font">
                <h1 class="text-primary">Toursim</h1>
            </div>
        </div>
        <div class="col-sm-6 m-0 p-0">
            <div class="btnn" routerLink="/login"><button type="submit" class="btn py-2 w-30 text-white mb-3 btn-success">Log Out</button>
            </div>
        </div>
    </div>

    <div class="image">
        <img src="assets/hotel/hotel.png">
    </div>

    <div class="room">
        <h1 class="text-center">Room Type</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="room_type">
                <h1 class="text-center">Deluxe</h1>
                <div class="btnn" routerLink="/booking"><button type="submit" class="btn py-2 w-30text-white btn-primary">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="deluxe">
                <img src="assets/hotel/d1.jpg" class="mt-5" height="300" width="550">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="luxury">
                <img src="assets/hotel/l2.jpg" class="mt-5" height="300" width="550">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="room_type">
                <h1 class="text-center">Luxury</h1>
                <div class="btnn" routerLink="/booking"><button type="submit" class="btn py-2 w-30text-white btn-primary">Read more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="room_type">
                <h1 class="text-center">Standard</h1>
                <div class="btnn" routerLink="/booking"><button type="submit" class="btn py-2 w-30text-white btn-primary">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="standard">
                <img src="assets/hotel/st1.jpg" class="mt-5" height="300" width="550">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="superior">
                <img src="assets/hotel/st2.jpg" class="mt-5" height="300" width="550">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="room_type">
                <h1 class="text-center">Superior</h1>
                <div class="btnn" routerLink="/booking"><button type="submit" class="btn py-2 w-30text-white btn-primary">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>